* {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  user-select: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  height: 100%;
  background-color: #000bff;
}

.Recoverycontainer {
  max-width: 450px;
  width: 100%;
  margin: 30px auto 0;
  padding: 10px;
}

.RecoverySubContainer {
  background: rgb(249, 249, 252);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}
.RecoveryTitle {
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  border-bottom: 1px solid rgb(177, 177, 177);
}

.RecoveryTitle > P {
  padding: 30px;
  font-size: x-large;
  font-weight: 500 !important;
}

.RecoveryForm {
  padding: 20px;
}
.RecoveryText {
  color: rgb(136, 134, 134);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200 !important;
}

.RecoveryFormItem {
  margin-bottom: 25px;
  position: relative;
}

.RecoveryFormItem input[type="email"] {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: lighter;
  border: 1px solid #dadce0;
  border-radius: 5px;
  outline: none;
}
/* ::placeholder {
} */

.input-field {
  font-size: 16px;
  padding: 10px;
  color: black;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #ccc;
}

.input-field:focus::placeholder {
  font-size: 10px;
  transform: translate(-5px, -20px);
  transition: all 0.3s ease-in-out;
}

.RecoveryFormItem input[type="text"]:focus {
  outline: 2px solid rgb(147, 191, 235);
}

.Recovery_Forget_Button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forget {
  font-size: 13px;
  font-weight: normal;
  color: #1598d4;
  text-decoration: underline;
  cursor: pointer;
}
.forget:hover {
  color: darkblue;
}

input[type="button"] {
  width: 30%;
  padding: 8px;
  background-color: #0d6efd;
  border: 1px solid #1598d4;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 400 !important;
  border-radius: 5px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #000bff;
}

.RegisterNav {
  background-color: rgb(237, 237, 237);
  color: #1598d4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(177, 177, 177);
  border-radius: 0px 0px 5px 5px;
}

.RegisterNav > p {
  padding: 15px;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 300 !important;
}

.RegisterNav > p:hover {
  color: darkblue;
}
.Dashboard_Copy_Term {
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  padding: 10px;
}

.DashboardCopy {
  color: gray;
  font-size: 14px;
  padding: 10px;
}
.DashboardTerm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1598d4;
  padding: 10px;
}
.DashboardTerm > p {
  font-size: 15px;
  font-weight: 300 !important;
}
.DashboardTerm > p:hover {
  color: #000bff;
  text-decoration: underline;
}

@media (min-width: 150px) and (max-width: 310px) {
  .RegisterFormItem input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 8px;
    font-weight: lighter;
    border: 1px solid #dadce0;
    border-radius: 5px;
    outline: none;
  }
  label {
    font-size: 5px;
    color: black;
    font-weight: 300;
  }

  .DashboardCopy {
    font-size: 10px;
  }
  .DashboardTerm > p {
    font-size: 10px;
  }
  input[type="button"] {
    font-size: 10px;
  }
}
